.new_contents {
    position: relative;
}

.adv__buttonwrap {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 11;
    border: 1px solid #313131;
    background-color: #cccccc;
    padding: 4px;
    max-width: 346px;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s ease;
}

.adv__buttonwrap:hover {
    opacity: 0.6;
}

.adv__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    background-color: #313131;
    padding: 8px 0px 8px 5px;
}

.adv__button-txt {
    position: relative;
    color: #FFF;
    font-family: "Shippori Mincho", serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1.26px;
}

.adv__button-txt::after {
    content: "";
    position: absolute;
    background-image: url("../img/new_common/icon-whitearrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 2.70rem;
    height: 0.59rem;
    right: -44px;

}

.adv__button-img {
    max-width: 120px;
    width: 100%;
}

.adv__buttonwrap,
.adv__mailwrap {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.adv__buttonwrap.show,
.adv__mailwrap.show {
    opacity: 1;
    visibility: visible;
}

.adv__mailwrap {
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 11;
    background: var(--c-9-a-964, #C9A964);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    max-width: 10.53rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s ease;
}

.adv__mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
    padding: 1.76rem 0.35rem;
}

.adv__mail.no-pc {
    @media (min-width:768px) {
        display: none;
    }
}

.adv__mail-img {
    max-width: 2.70rem;
    width: 100%;
}

.adv__mail-txt {
    color: #FFF;
    text-align: center;
    font-family: "Shippori Mincho", serif;
    font-size: 1.52rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.adv__button,
.adv__mailwrap {
    transition: all 0.25s ease;
}

.adv__button:hover,
.adv__mailwrap:hover {
    opacity: 0.7;
}

@media (max-width:767px) {
    .adv__button-img {
        max-width: 8.78rem;
        width: 100%;
    }

    .adv__button {
        gap: 1.05rem;
        padding: 0.70rem 0px 0.70rem 0.70rem;
    }

    .adv__button-txt {
        font-size: 1.52rem;
        line-height: 1.99rem;
        font-weight: 500;
        letter-spacing: -0.091rem;
    }

    .adv__buttonwrap {
        max-width: 23.99rem;
        right: 10px;
    }

    .adv__buttonwrap {
        padding: 2px;
    }

    .adv__button-txt::after {
        width: 2.35rem;
        right: -29px;
    }

    .adv__mailwrap {
        bottom: 5px;
    }

    .adv__buttonwrap {
        bottom: 5px;
    }
}

.sns-area {
    padding-top: 350px;
}

@media (max-width:1299px) {
    .sns-area {
        padding-top: 100px;
    }
}

@media (max-width:767px) {
    .sns-area {
        padding-top: 40px;
    }
}

img {
    height: auto;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-30-sm {
    padding-bottom: 0;
}

.pl {
    padding-left: 10rem;
}

.nav {
    transition: background-color 0.3s ease;
}


.nav-list li a {
    color: #fff;
}

.nav.scrolled {
    position: fixed;
    transition: background-color 0.3s ease;
    background-color: #fff;
    margin-top: 0;
    padding: 14px 30px 11px 30px;
    align-items: center;
}

.nav.scrolled .nav-list li a {
    color: #000;
}

.nav.scrolled .nav-list li a.border {
    border: 1px solid #C9A964;
    background: #C9A964;
    color: #fff;
}

.nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 3rem;
    margin-top: 2.5rem;
    z-index: 12;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.nav-list li a {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: "Shippori Mincho", serif;
    color: #fff;
}

.nav-list li a.border {
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 8px 18px;
}

.hamburger {
    cursor: pointer;
}


.sp-menu {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-out;
}

.sp-menu.active {
    opacity: 1;
    visibility: visible;
}

/* header */
.sp-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.17rem 0;
}

.sp-logo {
    width: 160px;
    margin: 0;
}

.sp-close {
    width: 50px;
    cursor: pointer;
    margin: 0;
}

/* menu list */
.sp-menu-list {
    margin-top: 9.52rem;
    list-style: none;
    padding: 0;
    text-align: center;
}

.sp-menu-list li {
    font-size: 2.35rem;
    line-height: 2.35rem;
    margin-bottom: 40px;
    font-family: "Shippori Mincho", serif;
    cursor: pointer;
}

.sp-menu-list li:last-of-type {
    background: #C9A964;
    padding-block: 12px;
    color: #fff;
    max-width: 240px;
    width: 100%;
    margin-inline: auto;
    transition: all 0.25s ease;
}

.sp-menu-list li:last-of-type a {
    color: #fff;
}

.sp-menu-list li:last-of-type:hover {
    background: #000;
}

.logo {
    max-width: 100%;
    width: 100%;
}



/* PC unchanged */
@media (min-width: 768px) {

    .sp-menu,
    .hamburger {
        display: none !important;
    }
}



.new_contents {
    background: #D9D9D9;

}

.mv {
    position: relative;
    line-height: 0;
}

.mv-content {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 4rem;
}

.mv-smtext {
    color: #FFF;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    margin-bottom: 2rem;
    font-family: "Shippori Mincho", serif;
}

.mv-bigtxt {
    color: var(--ffffff, #FFF);
    font-size: 8.5rem;
    font-weight: 500;
    line-height: 8.5rem;
    font-family: "Shippori Mincho", serif;
}

.content {
    position: relative;
    /* padding-bottom: 25rem; */

}



.content__image {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    height: 100vh;

}

.content__image img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    transition: filter 0.6s ease;
    filter: blur(0);
    transform: scale(1.1);
    /* initially clear */
}

/* when section is active, add blur */
.content__image.is-active img {
    filter: blur(1.5rem);
    /* blur on scroll */
}

.content__container {
    position: relative;
    z-index: 2;
    max-width: 100%;
    width: 100%;
    margin-inline: auto 0;
    background-color: #fff;
    margin-top: -10rem;
    padding: 13.8rem 12.3rem 15rem 11.3rem;
}

.content-marginleft {
    margin-left: 80px;
    padding-bottom: 250px;

}


.content__container.p-0 {
    padding: 15rem 0px 15rem 11.3rem;
}

.content__wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
}

.content__wrap.no-gap {
    gap: 0px;
}

/* .content__wrap {
    min-height: 100vh;
} */

.content__left {
    width: 97px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}


.content__right {
    flex: 1;
}

.content__right.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 69px;

}

.content__right-ttl {
    color: #000;
    font-feature-settings: 'palt' on;
    font-family: "Shippori Mincho", serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 6rem;
    margin-bottom: 8rem;
}

.content__right-ttl .sm {
    font-size: 3.3rem;
    display: inline-block;
    line-height: 3.1rem;
}

.content__right-subttl {
    color: var(--000000, #000);
    font-family: "Shippori Mincho", serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.9rem;
}

.content__right-subttl.pb {
    padding-bottom: 80px;
}

.content__right-des {
    color: #000;
    font-family: "Shippori Mincho", serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.9rem;
    margin-bottom: 5rem;
}

.content__right-des .ls {
    letter-spacing: -0.001px;
}

.content__right-img {
    max-width: 737px;
    width: 100%;
    margin-inline: auto 0;
}

.content__right-imgs {
    margin-top: 41px;
}

.content__right-left {
    max-width: 378px;
    width: 100%;
}


.content__num {
    color: #000;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 10rem;
    font-weight: 400;
    line-height: 1;
    margin-right: -1.5rem;
}

.content__line {
    width: 2px;
    height: 100%;
    background: #000;
    display: block;
    flex: 1;

}

.content__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    padding-bottom: 8rem;
    margin-bottom: 8rem;
    border-bottom: 1px solid #DDDDDD;
}

.content__card:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: unset;
}

.content__card-left {
    max-width: 200px;
    width: 100%;
}

.content__card-right {
    flex: 1;
}

.content__card-ttl {
    font-family: "Shippori Mincho", serif;
    color: #000;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 4rem;
}

.content__card-subttl {
    color: #000;
    font-family: "Shippori Mincho", serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.content__card-des {
    color: #1D1D1D;
    font-family: "Shippori Mincho", serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem;
}

.content-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.8rem;
    margin-bottom: 1.5rem;

}

.content-list:last-of-type {
    margin-bottom: 0;
}

.content__list-ttl {
    color: #FFF;
    font-family: "EB Garamond", serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.content__list-num {
    color: #FFF;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.content__list-des {
    color: #FFF;
    font-family: "Shippori Mincho", serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.content__list-des .sm {

    font-size: 1.5rem;
    line-height: 1.8rem;
    display: inline-block;
}

.content__list-line {
    height: 34px;
    width: 1px;
    background: #fff;
    margin-block: 5px 6px;
    display: block;
}

.teitaku .swiper-free-mode>.swiper-wrapper {
    margin: auto 0;
}

/* Prevent images in Swiper from being selected */
.mySwiper2 img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}





@media (max-width:1299px) {

    .content__container {
        max-width: 1200px;
        width: 100%;
        padding: 15rem 4rem 15rem 6rem;
    }

    .content__num {
        font-size: 8rem;
    }

    .content__wrap {
        gap: 6rem;
    }

    .content__right-ttl .sm {
        line-height: 4.1rem;
    }

    .content__right-des {
        margin-bottom: 1.9rem;
    }

    .content__right-img {
        max-width: 737px;
    }

    .content__right.flex {
        gap: 7.2rem;
    }

    .content__left {
        width: 7.7rem;
    }

    .logo {
        max-width: 69rem;
        width: 100%;
    }

    .nav {

        padding-inline: 2rem;

    }
}

@media (max-width:1279px) {
    .logo {
        max-width: 50rem;
        width: 100%;
    }
}


@media (max-width:1199px) {
    .content__container {
        max-width: 100%;
        padding: 8rem 2rem 7rem 3rem;

    }

    .content-marginleft {
        margin-left: 80px;
        padding-bottom: 25rem;
    }

    .content__left {
        width: 5rem;
    }

    .content__num {
        font-size: 7rem;
    }

    .content__right.flex {
        gap: 4rem;
    }

    .content__right-left {
        max-width: 320px;
    }

    .logo {
        max-width: 52rem;
        width: 100%;
    }

}

@media (max-width:991px) {
    .content__container {
        max-width: 100%;
        margin-top: -20rem;
    }

    .content-marginleft {
        margin-left: 80px;
        padding-bottom: 10px;
    }

    .logo {
        max-width: 337px;
        width: 100%;
    }


}

@media (max-width:767px) {

    .pb-80 {
        padding-bottom: 0;
    }

    .pb-30-sm {
        padding-bottom: 30px;
    }


    .nav {
        padding-inline: 1.17rem;
    }

    .mv-content {
        padding-inline: 2.35rem;
        bottom: 3.52rem;
    }

    .mv-smtext {
        font-size: 2.11rem;
        line-height: 2.11rem;
        margin-bottom: 10px;
        font-family: "Shippori Mincho", serif;
    }

    .mv-bigtxt {
        color: var(--ffffff, #FFF);
        font-size: 5.92rem;
        font-weight: 500;
        line-height: 50px;
    }

    .bg-white {
        background-color: #FFF;
        color: #000;
    }

    .content-listwrp {
        padding-block: 4.72rem 9.52rem;
        padding-inline: 20px;
    }

    .content-list {
        gap: 9px;
        margin-bottom: 1.76rem;
    }


    .content__list-line {
        height: 34px;
        width: 1px;
        background: #000;
        margin-block: 5px 6px;
        display: block;
    }

    .content__list-des {
        color: #000;
    }

    /* .content__list-line {
        height: -webkit-fill-available;
        width: 1px;
        background: #000;
        margin-block: 5px 6px;
        display: block;
    } */

    .content__list-num {
        color: #000;
        font-size: 2.93rem;
        line-height: 2.93rem;
    }

    .content__list-des {
        font-size: 1.88rem;
        line-height: 2.58rem;
    }

    .content__list-des .sm {
        font-size: 1.64rem;
        line-height: 1.99rem;
    }

    .content__wrap {
        flex-direction: column;
        gap: 2.35rem;
    }

    .content__num {
        font-size: 5.92rem;
    }

    .content__left {
        width: 100%;
        align-items: flex-start;
    }

    .content__right-ttl .sm {
        font-size: 2.35rem;
        line-height: 2.93rem;
    }

    .content__right-ttl {
        font-size: 2.93rem;
        line-height: 4.36rem;
        margin-bottom: 3.52rem;
    }

    .content__right-des {
        font-size: 1.88rem;
        font-weight: 500;
        line-height: 3.76rem;
        margin-bottom: 3.52rem;
    }

    .content__container {
        max-width: 100%;
        padding: 7.12rem 2.35rem;
        margin-top: -10rem;
    }

    .content-marginleft {
        margin-left: 2.35rem;
        padding-bottom: 4rem;
    }

    .content {
        padding-bottom: 0;
    }



    .content__right-left {
        max-width: 100%;
        width: 100%;
    }

    .content__right.flex {
        flex-direction: column;
        gap: 3.52rem;
    }

    .content__right-subttl {
        font-size: 1.88rem;
        line-height: 3.76rem;
    }

    .content__right-subttl.pb {
        padding-bottom: 30px;
    }

    .content__card {
        flex-direction: column;
        gap: 3.52rem;
        padding-bottom: 4.72rem;
        margin-bottom: 4.72rem;
    }

    .content__card-left {
        max-width: 18.75rem;
    }

    .content__card-ttl {
        font-size: 3.28rem;
        margin-bottom: 2.35rem;
    }

    .content__card-subttl {
        font-size: 2.11rem;
        line-height: 3.16rem;
        margin-bottom: 1.64rem;
    }

    .content__card-des {
        font-size: 1.88rem;
    }

    .logo-1280 {
        display: none
    }

    .logo {
        width: 250px;
    }

    .nav {
        margin-top: 1.17rem;
    }

    .nav.scrolled {
        position: fixed;
        background-color: #fff;
        margin-top: 0;
        padding: 1.17rem 1.17rem 11px 1.17rem;
        align-items: center;
    }

    .nav.scrolled {}

    .sp-menu-header {
        padding: 1.17rem 1.17rem 0;
    }

    .content__right-imgs {
        margin-top: 0;
    }

    .content__list-line {
        width: 1px;
        background-color: #000;
        align-self: stretch;
        height: auto;
        margin: 6px 5px;
    }

}